.flex {

	display: flex;

	&.row {
		flex-direction: row;
	}

	&.column {
		flex-direction: column;
	}

	&.flex-end {
		justify-content: flex-end;
	}

	&.space-between {
		justify-content: space-between;
	}

	&.space-around {
		justify-content: space-around;
	}

	&.center {
		justify-content: center;
	}

	&.start {
		justify-content: start;
	}

	&.align-left {
		align-items: flex-start;
	}

	&.align-right {
		align-items: flex-end;
	}

	&.align-center {
		align-items: center;
	}

	&.flex-wrap {
		flex-wrap: wrap;
	}

}

body {
	background: #282828;
}

.main-layout {
	max-width: 1280px;
	margin: 0 auto;
	background: #ffffff;
	padding-bottom: 20px;
}

.inner-layout {
	padding: 40px 100px;
}

.red {
 background: #ff0000;
}

.half-black {
	background: rgba(0, 0, 0, 0.5);
	//display: block;
	display: flex;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}





.serve-block {
	position: relative;

	.serve-description {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		color: #ffffff;
	}
}

.services-list {
	max-width: 830px;
	margin: 0 auto;

	.checkmark {
		font-size: 18px;
		font-weight: bold;
	}

	.checkmark-list {
		margin: 18px 0;
		li {
			font-weight: normal;
			text-transform: none;
			font-size: 16px;
			line-height: 1.5;
		}
	}
}

.contact-inner {
	width: 470px;
	border: thin solid #000000;
	padding: 70px 20px;
	color: #000000;

	.logo {
		margin-bottom: 60px;

		.logo-name {
			font-size: 20px;
		}

		.logo-descr {
			font-size: 15px;
		}

		.icon-logo {
			width: 42px;
			height: 35px;
		}
	}

	p {
		font-size: 16px;
	}

	//.link-phone {
    //    color: #ffffff;
	//	margin: 28px 0;
	//	font-size: 36px;
	//	transition: .1s ease-in;
	//
	//	&:hover {
	//		color: #000000;
	//		transition: .1s ease-in;
	//	}
	//}

	.link-mail {
		margin-bottom: 28px;
		font-size: 24px;
		text-transform: lowercase;

		&:hover {
			color: inherit;
			text-decoration: underline;
			transition: .1ms ease-in;
		}
	}

	.round-day {
		font-size: 30px;
	}
}

.list-of-service {
	width: 50%;

	.icon {
		margin: 0 auto 20px;
	}

	.checkmark {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
	}

	.checkmark-list {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-left: 25px;
	}
}

.link-phone {
	color: #ffffff;
	margin: 28px 0;
	font-size: 36px;
	transition: .1s ease-in;

	&:hover {
		color: #000000;
		transition: .1s ease-in;
	}
}

.popup {

	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 256;
	width: 100%;
	height: 100%;
	background: #ffffff;

	.popup-container {
		max-width: 800px;
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		background: #FCFCFC;

	}

	.popup-content {
		position: relative;
	}

	.popup-contact {
		font-size: 24px;
		color: #ffffff;
	}


}

