@media only screen and (max-width: 770px) and (min-width: 320px)  {
	.inner-layout {
		padding: 40px;
	}
}

@media only screen and (max-width: 666px) {
	.navigation {
		width: 100%;
		flex-wrap: wrap;
	}

	.serve-block {
		overflow-x: hidden;
	}

	footer .back-to-top {
		display: none;
	}

	.services {
		.flex.row {
			flex-direction: column;
		}

		.list-of-service {
			width: 100%;
		}
	}
}